<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset= UTF-8"/>
    <title>Code</title>
    <link href="static/css/tempCode.css" th:href="@{/css/tempCode.css}" rel="stylesheet">
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div>
 <span id="load_date" th:text="${code.date}">
 </span>
    <div class="restriction" th:if="${code.isViewsLimited()}">
        <span id="views_restriction" th:text="${code.views}"></span>
        <span> more views allowed</span>
    </div>
    <div class="restriction" th:if="${code.time > 0}">
        <span>The code will be available for </span>
        <span id="time_restriction" th:text="${code.time}"></span>
        <span> seconds</span>
    </div>
    <pre id="code_snippet">
     <code th:text="${code.code}" style="background: none;">
     </code>
 </pre>
</div>
</body>
</html>